header {
  margin: 0 auto;
  text-align: center;
}

header h1 {
  padding-top: 10vh;
  margin: 0;
  font-size: 7vh;
  color: #290a15;
}

header p {
  margin: 0;
  font-size: 4vh;
  color: #290a15;
  margin-bottom: 20px;
}

header a {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
  background-color: #143a00;
  border-color: #143a00;
  color: #fff;
  padding: 2vh 1.5vw;
  text-decoration: none;
  border-radius: 0.5rem;
  display: inline-block;
  margin-inline: 5px;
}

header img {
  margin-bottom: 20px;
  max-width: 15vw;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50%;
}
